<div class="inventual-dashboard-area">
  <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-bar-responsive" (click)="myfunction()">
      <mat-icon>reorder</mat-icon>
    </div>
    <div class="inventual-menu-wrapper bg-white border-e border-b border-solid border-gray-border py-10 px-7 lg:px-5 lg:py-8">
      <app-menu></app-menu>
    </div>
    <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
  </div>
  <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-area">
      <div class="inventual-header-wrapper custom-height-70 px-7 custom-height-70 bg-white border-b border-solid border-gray-border">
        <div class="grid grid-cols-12 items-center h-full">
          <div class="col-span-12">
            <app-header></app-header>
          </div>
        </div>
      </div>
    </div>
    <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
      <div class="inventual-breadcrumb-area-inner px-0.5">
        <h5 class="text-[20px] text-black font-bold mb-3">Add Products</h5>
        <div class="inventual-breadcrumb-area-inner-wrap">
          <span class="text-[14px] text-gray font-normal inline-block me-2">Product</span>
          <span class="text-[14px] text-gray font-normal inline-block me-2">></span>
          <span class="text-[14px] text-gray font-normal inline-block me-2">Add Products</span>
        </div>
      </div>
    </div>
    <div class="inventual-content-area px-7">
      <div class="inventual-unit-area bg-white p-7 custom-shadow rounded-8 mb-5">
        <h4 class="text-[20px] text-black font-bold mb-10">Add Product</h4>
        <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
          <div class="col-span-9 lg:col-span-8 sm:col-span-12 md:col-span-12">
            <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
              <div class="col-span-8 lg:col-span-6 md:col-span-6 sm:col-span-12">
                <div class="inventual-select-field mb-7">
                  <h5 class="text-[15px] text-black font-semibold mb-3">Product Name</h5>
                  <div class="inventual-input-field-style">
                    <mat-form-field class="w-full" [floatLabel]="'always'">
                      <mat-label class="hidden">HP Elitebook</mat-label>
                      <input matInput [placeholder]="'Microphone, Stage, etc...'">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-span-4 lg:col-span-6 md:col-span-6 sm:col-span-12">
                <div class="inventual-select-field mb-5">
                  <h5 class="text-[15px] text-black font-semibold mb-3">Product Groups</h5>
                  <div class="inventual-select-field-style">
                    <mat-form-field>
                      <mat-select class="block" [placeholder]="'Select Type'">
                        <mat-option value="language-1">Select Product Group</mat-option>
                        <mat-option value="language-2">Audio</mat-option>
                        <mat-option value="language-3">Cables</mat-option>
                        <mat-option value="language-4">Cameras</mat-option>
                        <mat-option value="language-5">Computers/Networking</mat-option>
                        <mat-option value="language-6">Decor</mat-option>
                        <mat-option value="language-7">Dj</mat-option>
                        <mat-option value="language-8">Drape</mat-option>
                        <mat-option value="language-9">Furniture</mat-option>
                        <mat-option value="language-10">FX</mat-option>
                        <mat-option value="language-11">Ladders/Lifts</mat-option>
                        <mat-option value="language-12">Lighting</mat-option>
                        <mat-option value="language-13">Bulk</mat-option>
                        <mat-option value="language-14">Material Handling</mat-option>
                        <mat-option value="language-15">Photobooth</mat-option>
                        <mat-option value="language-16">Props</mat-option>
                        <mat-option value="language-17">Rigging</mat-option>
                        <mat-option value="language-18">Staging</mat-option>
                        <mat-option value="language-19">Toolkits/Supplies</mat-option>
                        <mat-option value="language-4">Video</mat-option>




                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-span-4 lg:col-span-6 md:col-span-6 sm:col-span-12">
                <div class="inventual-select-field mb-7">
                  <h5 class="text-[15px] text-black font-semibold mb-3">Product Price</h5>
                  <div class="inventual-input-field-style">
                    <mat-form-field class="w-full" [floatLabel]="'always'">
                      <mat-label class="hidden">89.99</mat-label>
                      <input matInput [placeholder]="'89.99'">
                    </mat-form-field>
                  </div>
                </div>
              </div>


        </div>
        <div class="inventual-material-btn1 button-group">
          <button mat-raised-button color="warn" [routerLink]="['/products/productlist']">Cancel</button>
          <button mat-raised-button color="primary" [routerLink]="['/products/productlist']">Submit</button>
          
        </div>
      </div>
     
    </div>
  </div>
