@import '../../../../custom-palettes.scss';

// btn style
@include inventualMaterialBtn;

//sidebar menu style
@include inventualSidebarMuneStyle;
// Select field style
@include inventualSelectFieldStyle;
// Input field style
@include inventualInputFieldStyle;
//calender field style
@include inventualCalenderFieldStyle;
//checkbox style
@include inventualCheckboxFieldStyle;
//inventual header searchbar action
@include inventualHeaderSearchAction;

.custom-height-70 {
    height: 70px;
    min-height: 70px;
}
.check-spacing {
	.inventual-checkbox-field-style label {
		@apply ms-1.5 cursor-pointer;
	}
}
.inventual-checkbox-field-style label {
    @apply inline-flex;
}
.inventual-product-dragdrop {
	label {
		@apply cursor-pointer;
	}
}
.inventual-input-field-file label {
	font-size: 16px !important;
	border: none !important;
	padding: 0px !important;
	background: none !important;
	font-weight: 700 !important;
	color: #fff !important;
}

// drag & drop css start
.ngx-file-drop__content {
	display: inherit !important;
	height: inherit !important;
	color: inherit !important;
}
.ngx-file-drop__drop-zone {
	height: auto !important;
	border-radius: 10px !important;
	border: 1px dashed #2C6AE5 !important;
	@apply text-center;
	@apply bg-gray-bgTwo;
	@apply md:mb-7;
	@apply sm:mb-7;
	padding: 100px 20px;
	.inventual-material-btn {
		display: inline-flex;
	}
}