@import '../../../../../../custom-palettes.scss';

.inventual-popup-inner {
    width: 700px;
    @apply p-7;
	@media (min-width: 768px) and (max-width: 991px) {
		width: 610px;
	}
    @media (min-width: 576px) and (max-width: 767px) {
		width: 440px;
	}
    @media (min-width: 450px) and (max-width: 575px) {
		width: 350px;
	}
    @media (max-width: 449px) {
		width: inherit;
	}
}

//popup close btn
@include inventualPopupClose;

//popup btn
.inventual-popup-btn {
    @include materialPopupBtn;
}

//popup common style
@include popupCommonStyle;
@include inventualInputFieldStyle;
@include inventualSelectFieldStyle;
@include inventualCalenderFieldStyle;

.inventual-input-field-style textarea {
    height: 120px;
	@apply py-2.5;
	@apply border;
	@apply border-solid;
	@apply border-gray-borderThree;
	@apply px-5;
	@apply rounded-[3px];
	@apply outline-none;
	@apply block;
	@apply text-[14px];
	@apply text-gray;
	@apply font-primary;
	@apply font-normal;
	@apply w-full;
	@apply bg-gray-bg;
	transition: all linear 0.3s;
	&:focus {
		@apply bg-white;
	}
    &::-moz-placeholder,
	&::placeholder {
		@apply text-gray;
		@apply opacity-100;
		@apply font-primary;
		@apply font-normal;
	}
}