@import '../../../../custom-palettes.scss';

.inventual-dashboard-transaction-wrapper {
    .mat-mdc-tab {
        .mdc-tab__text-label {
            @apply text-[15px] font-semibold text-black font-primary transition-colors;
        }
        &:hover {
            .mdc-tab__text-label {
                @apply text-primary;
            }
        }
        &.mdc-tab--active {
            .mdc-tab__text-label {
                @apply text-blue;
            }
            .mdc-tab-indicator__content--underline {
                @apply border-primary opacity-100;
            }
        }
    }
	.mat-mdc-tab-ripple {
		@apply hidden;
	}
	.mdc-tab {
		@apply py-4 px-11 min-w-0 justify-start;
	}
	.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
		flex-grow: initial;
	}
	.mat-mdc-tab-labels {
		@apply font-primary;
	}
	.mat-mdc-tab {
		font-family: "Nunito Sans", sans-serif !important;
	}
	.mat-mdc-tab:not(.mdc-tab--stacked) {
		height: initial;
	}
	.mat-mdc-tab-list {
		@apply border-b border-solid border-gray-borderThree mb-5;
	}
	.mat-mdc-tab-body-content {
		@apply overflow-hidden;
	}
    .mat-mdc-tab.mdc-tab--active .mdc-tab__ripple::before {
        @apply bg-primary;
    }
}
.inventual-dashboard-transaction-date {
  width: 13%;
  min-width: 140px;
  @apply border-e;
  @apply border-solid;
  @apply border-gray-borderThree;
  @media (min-width: 1401px) and (max-width: 1600px) {
    width: 14%;
    min-width: 115px;
  }
  @media (min-width: 1201px) and (max-width: 1400px) {
    width: 14%;
    min-width: 100px;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    width: 15%;
    min-width: 115px;
  }
  @media (max-width: 991px) {
    width: 14%;
    min-width: 100px;
  }
}
.inventual-dashboard-transaction-reference {
    width: 20%;
    min-width: 220px;
    @apply border-e;
    @apply border-solid;
    @apply border-gray-borderThree;
    @media (min-width: 1401px) and (max-width: 1600px) {
        width: 19%;
        min-width: 160px;
      }
      @media (min-width: 1201px) and (max-width: 1400px) {
        width: 20%;
        min-width: 140px;
      }
      @media (min-width: 992px) and (max-width: 1200px) {
        width: 19%;
        min-width: 160px;
      }
      @media (max-width: 991px) {
        width: 20%;
        min-width: 140px;
      }
}
.inventual-dashboard-transaction-customer {
    width: 20%;
    min-width: 220px;
    @apply border-e;
    @apply border-solid;
    @apply border-gray-borderThree;
    @media (min-width: 1401px) and (max-width: 1600px) {
        width: 20%;
        min-width: 170px;
    }
    @media (min-width: 1201px) and (max-width: 1400px) {
        width: 22%;
        min-width: 155px;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        width: 20%;
        min-width: 170px;
    }
    @media (max-width: 991px) {
        width: 22%;
        min-width: 155px;
    }
}
.inventual-dashboard-transaction-mode {
    width: 14%;
    min-width: 140px;
    @apply border-e;
    @apply border-solid;
    @apply border-gray-borderThree;
    @media (min-width: 1401px) and (max-width: 1600px) {
        width: 14%;
        min-width: 100px;
    }
    @media (min-width: 1201px) and (max-width: 1400px) {
        width: 11%;
        min-width: 80px;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        width: 14%;
        min-width: 100px;
    }
    @media (max-width: 991px) {
        width: 11%;
        min-width: 80px;
    }
}
.inventual-dashboard-transaction-status {
    width: 16%;
    min-width: 180px;
    @apply border-e;
    @apply border-solid;
    @apply border-gray-borderThree;
    @media (min-width: 1401px) and (max-width: 1600px) {
        width: 18.5%;
        min-width: 150px;
    }
    @media (min-width: 1201px) and (max-width: 1400px) {
        width: 18%;
        min-width: 130px;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        width: 18.5%;
        min-width: 150px;
    }
    @media (max-width: 991px) {
        width: 18%;
        min-width: 130px;
    }
}
.inventual-dashboard-transaction {
    @apply border;
    @apply border-b-0;
    @apply border-solid;
    @apply border-gray-borderThree;
}
.inventual-dashboard-transaction-row-heading,
.inventual-dashboard-transaction-row {
    @apply h-10;
    @apply flex;
    @apply items-center;
    @apply border-b;
    @apply border-solid;
    @apply border-gray-borderThree;
}
.inventual-dashboard-transaction-row {
    @apply h-12;
}
.inventual-dashboard-transaction-date,
.inventual-dashboard-transaction-reference,
.inventual-dashboard-transaction-customer,
.inventual-dashboard-transaction-mode,
.inventual-dashboard-transaction-status,
.inventual-dashboard-transaction-price {
    @apply h-full;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    & h5,
    & span {
        @apply ps-7;
        @apply pe-2;
        @apply xxl:ps-4;
        @apply xl:ps-2.5;
        @apply md:ps-2.5;
        @apply sm:ps-2.5;
    }
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	@apply bg-blue;
}
.inventual-dashboard-transaction {
    @media (max-width: 991px) {
        width: 680px;
        min-width: 100%;
    }
}