<div class="inventual-dashboard-transaction-wrapper p-7 bg-white rounded-8 mb-5">
  <mat-tab-group animationDuration="0ms" mat-align-tabs="start">
    <mat-tab label="Sale">
      <div class="overflow-x-auto">
        <div class="inventual-dashboard-transaction">
          <div class="inventual-dashboard-transaction-row-heading">
            <div class="inventual-dashboard-transaction-date">
              <h5 class="text-[15px] font-semibold text-black">Date</h5>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <h5 class="text-[15px] font-semibold text-black">Reference</h5>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <h5 class="text-[15px] font-semibold text-black">Customers</h5>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <h5 class="text-[15px] font-semibold text-black">Mode</h5>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <h5 class="text-[15px] font-semibold text-black">Status</h5>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <h5 class="text-[15px] font-semibold text-black">Grand Price</h5>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">30/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-920873850390</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Bank</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$4,582</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">28/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-326564580710</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Mitchel Stark</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$8,540</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">25/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-240800384231</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$2,002</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">20/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-521403214302</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-teal-light">
                  Partial</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$7,582</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">17/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-710306669825</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">David Warner</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$5,230</span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Purchase">
      <div class="overflow-x-auto">
        <div class="inventual-dashboard-transaction">
          <div class="inventual-dashboard-transaction-row-heading">
            <div class="inventual-dashboard-transaction-date">
              <h5 class="text-[15px] font-semibold text-black">Date</h5>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <h5 class="text-[15px] font-semibold text-black">Reference</h5>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <h5 class="text-[15px] font-semibold text-black">Customers</h5>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <h5 class="text-[15px] font-semibold text-black">Mode</h5>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <h5 class="text-[15px] font-semibold text-black">Status</h5>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <h5 class="text-[15px] font-semibold text-black">Grand Price</h5>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">30/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-920873850390</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Bank</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$4,582</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">20/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-521403214302</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-teal-light">
                  Partial</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$7,582</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">17/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-710306669825</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">David Warner</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$5,230</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">28/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-326564580710</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Mitchel Stark</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$8,540</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">25/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-240800384231</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$2,002</span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Payment">
      <div class="overflow-x-auto">
        <div class="inventual-dashboard-transaction">
          <div class="inventual-dashboard-transaction-row-heading">
            <div class="inventual-dashboard-transaction-date">
              <h5 class="text-[15px] font-semibold text-black">Date</h5>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <h5 class="text-[15px] font-semibold text-black">Reference</h5>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <h5 class="text-[15px] font-semibold text-black">Customers</h5>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <h5 class="text-[15px] font-semibold text-black">Mode</h5>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <h5 class="text-[15px] font-semibold text-black">Status</h5>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <h5 class="text-[15px] font-semibold text-black">Grand Price</h5>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">30/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-920873850390</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Bank</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$4,582</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">28/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-326564580710</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Mitchel Stark</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$8,540</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">25/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-240800384231</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$2,002</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">20/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-521403214302</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-teal-light">
                  Partial</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$7,582</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">17/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-710306669825</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">David Warner</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$5,230</span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Returns">
      <div class="overflow-x-auto">
        <div class="inventual-dashboard-transaction">
          <div class="inventual-dashboard-transaction-row-heading">
            <div class="inventual-dashboard-transaction-date">
              <h5 class="text-[15px] font-semibold text-black">Date</h5>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <h5 class="text-[15px] font-semibold text-black">Reference</h5>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <h5 class="text-[15px] font-semibold text-black">Customers</h5>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <h5 class="text-[15px] font-semibold text-black">Mode</h5>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <h5 class="text-[15px] font-semibold text-black">Status</h5>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <h5 class="text-[15px] font-semibold text-black">Grand Price</h5>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">30/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-920873850390</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Bank</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$4,582</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">20/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-521403214302</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-teal-light">
                  Partial</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$7,582</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">17/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-710306669825</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">David Warner</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$5,230</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">28/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-326564580710</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Mitchel Stark</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$8,540</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">25/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-240800384231</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$2,002</span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Quotation">
      <div class="overflow-x-auto">
        <div class="inventual-dashboard-transaction">
          <div class="inventual-dashboard-transaction-row-heading">
            <div class="inventual-dashboard-transaction-date">
              <h5 class="text-[15px] font-semibold text-black">Date</h5>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <h5 class="text-[15px] font-semibold text-black">Reference</h5>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <h5 class="text-[15px] font-semibold text-black">Customers</h5>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <h5 class="text-[15px] font-semibold text-black">Mode</h5>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <h5 class="text-[15px] font-semibold text-black">Status</h5>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <h5 class="text-[15px] font-semibold text-black">Grand Price</h5>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">30/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-920873850390</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Bank</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$4,582</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">28/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-326564580710</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Mitchel Stark</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$8,540</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">17/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-710306669825</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">David Warner</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">------</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-warn-light">
                  Unpaid</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$5,230</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">25/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-240800384231</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-green-light">
                  Completed</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$2,002</span>
            </div>
          </div>
          <div class="inventual-dashboard-transaction-row">
            <div class="inventual-dashboard-transaction-date">
              <span class="text-[14px] font-normal text-gray">20/12/2022</span>
            </div>
            <div class="inventual-dashboard-transaction-reference">
              <span class="text-[14px] font-normal text-gray">S-521403214302</span>
            </div>
            <div class="inventual-dashboard-transaction-customer">
              <span class="text-[14px] font-normal text-gray">Walk - in - customer</span>
            </div>
            <div class="inventual-dashboard-transaction-mode">
              <span class="text-[14px] font-normal text-gray">Cash</span>
            </div>
            <div class="inventual-dashboard-transaction-status">
              <span class="text-[14px] font-normal text-gray">
                <figure
                  class="text-[12px] font-semibold leading-5 text-white px-2.5 h-5 rounded-[3px] inline-block bg-teal-light">
                  Partial</figure>
              </span>
            </div>
            <div class="inventual-dashboard-transaction-price">
              <span class="text-[14px] font-normal text-gray">$7,582</span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>