@import '../../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;
@include inventualCheckboxFieldStyle;
@include inventualMaterialBtn;

//inventual header searchbar
@include inventualHeaderSearch;

//inventual header searchbar action
@include inventualHeaderSearchAction;

.inventual-managesale-table-checkbox4,
.inventual-managesale-table-date4,
.inventual-managesale-table-reference4,
.inventual-managesale-table-customer4,
.inventual-managesale-table-warehouse4,
.inventual-managesale-table-status4,
.inventual-managesale-table-biller4,
.inventual-managesale-table-payment4,
.inventual-managesale-table-total4,
.inventual-managesale-table-paid4,
.inventual-managesale-table-due4,
.inventual-managesale-table-action4 {
	@apply flex;
	@apply flex-col;
	@apply justify-center;
	& h5 {
		@apply text-[15px];
		@apply font-semibold;
		@apply text-black;
	}
	& span {
		@apply text-[14px];
		@apply font-normal;
		@apply text-gray;
	}
}
.inventual-managesale-table-checkbox4 {
	min-width: 60px;
	width: 4%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 45px;
		width: 4%;
	}
	@media (max-width: 1600px) {
		min-width: 45px;
		width: 4%;
	}
}
.inventual-managesale-table-date4 {
	min-width: 120px;
	width: 8%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 95px;
		width: 8%;
	}
	@media (max-width: 1600px) {
		min-width: 95px;
		width: 8%;
	}
}
.inventual-managesale-table-reference4 {
	min-width: 160px;
	width: 11%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 140px;
		width: 11%;
	}
	@media (max-width: 1600px) {
		min-width: 140px;
		width: 11%;
	}
}
.inventual-managesale-table-customer4 {
	min-width: 180px;
	width: 12%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 145px;
		width: 12%;
	}
	@media (max-width: 1600px) {
		min-width: 145px;
		width: 12%;
	}
}
.inventual-managesale-table-warehouse4 {
	min-width: 145px;
	width: 10%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 110px;
		width: 10%;
	}
	@media (max-width: 1600px) {
		min-width: 110px;
		width: 10%;
	}
}
.inventual-managesale-table-status4 {
	min-width: 120px;
	width: 8%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 110px;
		width: 8%;
	}
	@media (max-width: 1600px) {
		min-width: 110px;
		width: 8%;
	}
}
.inventual-managesale-table-biller4 {
	min-width: 170px;
	width: 11.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 130px;
		width: 10%;
	}
	@media (max-width: 1600px) {
		min-width: 130px;
		width: 10%;
	}
}
.inventual-managesale-table-payment4 {
	min-width: 115px;
	width: 8%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 6%;
		min-width: 80px;
	}
	@media (max-width: 1600px) {
		width: 6%;
		min-width: 80px;
	}
}
.inventual-managesale-table-total4 {
	min-width: 120px;
	width: 8%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 8%;
		min-width: 100px;
	}
	@media (max-width: 1600px) {
		width: 8%;
		min-width: 100px;
	}
}
.inventual-managesale-table-paid4 {
	min-width: 90px;
	width: 6%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 6%;
		min-width: 60px;
	}
	@media (max-width: 1600px) {
		width: 6%;
		min-width: 60px;
	}
}
.inventual-managesale-table-due4 {
	min-width: 90px;
	width: 6%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 6%;
		min-width: 50px;
	}
	@media (max-width: 1600px) {
		width: 6%;
		min-width: 50px;
	}
}
@include commonActionMenuStyle;

.inventual-managesale-table-inner4 {
	@media (max-width: 1600px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-managesale-table-inner-wrapper4 {
	@media (max-width: 1600px) {
		width: 1225px;
		min-width: 100%;
		scrollbar-height: thin;
	}
}