@import '../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;

//inventual header searchbar
@include inventualHeaderSearch;

//inventual header searchbar action
@include inventualHeaderSearchAction;
@include inventualCheckboxFieldStyle;
@include inventualMaterialBtn;

.inventual-managesale-table-checkbox2,
.inventual-managesale-table-sl2,
.inventual-managesale-table-name2,
.inventual-managesale-table-code2,
.inventual-managesale-table-warehouse2,
.inventual-managesale-table-remarks2,
.inventual-managesale-table-type2,
.inventual-managesale-table-action2 {
	@apply flex;
	@apply flex-col;
	@apply justify-center;
	& h5 {
		@apply text-[15px];
		@apply font-semibold;
		@apply text-black;
	}
	& span {
		@apply text-[14px];
		@apply font-normal;
		@apply text-gray;
	}
}
.inventual-managesale-table-checkbox2 {
	min-width: 60px;
	width: 4%;
    @media (max-width: 1200px) {
		min-width: 50px;
		width: 5%;
	}
}
.inventual-managesale-table-sl2 {
    min-width: 65px;
	width: 4%;
    @media (max-width: 1200px) {
		width: 5%;
		min-width: 45px;
	}
}
.inventual-managesale-table-name2 {
	min-width: 240px;
	width: 15%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 170px;
		width: 14%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 150px;
		width: 16%;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 170px;
		width: 15%;
	}
    @media (min-width: 992px) and (max-width: 1200px) {
		min-width: 125px;
		width: 15%;
	}
    @media (max-width: 991px) {
		min-width: 125px;
		width: 15%;
	}
}
.inventual-managesale-table-code2 {
	min-width: 240px;
	min-width: 16%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 200px;
		width: 17%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 150px;
		width: 15%;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 160px;
		width: 14%;
	}
    @media (min-width: 992px) and (max-width: 1200px) {
		min-width: 125px;
        width: 15%;
	}
    @media (max-width: 991px) {
		min-width: 125px;
		width: 125px;
	}
}
.inventual-managesale-table-warehouse2 {
	min-width: 210px;
	min-width: 16%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 15%;
		min-width: 180px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 16%;
		min-width: 160px;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 16%;
		min-width: 160px;
	}
    @media (min-width: 992px) and (max-width: 1200px) {
		width: 16%;
		min-width: 140px;
	}
    @media (max-width: 991px) {
		width: 140px;
		min-width: 140px;
	}
}
.inventual-managesale-table-remarks2 {
	min-width: 260px;
	min-width: 17%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 15%;
		min-width: 180px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 110px;
		width: 12%;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 14%;
		min-width: 140px;
	}
    @media (min-width: 992px) and (max-width: 1200px) {
		width: 14%;
		min-width: 130px;
	}
    @media (max-width: 991px) {
		width: 14%;
		min-width: 130px;
	}
}
.inventual-managesale-table-type2 {
	min-width: 280px;
	width: 19%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 18%;
		min-width: 180px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 17%;
		min-width: 160px;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 19%;
		min-width: 190px;
	}
    @media (min-width: 992px) and (max-width: 1200px) {
		width: 15%;
		min-width: 150px;
	}
    @media (max-width: 991px) {
		width: 15%;
		min-width: 150px;
	}
}

@include commonActionMenuStyle;

.inventual-managesale-table-inner2 {
	@media (max-width: 991px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-managesale-table-inner-wrapper2 {
	@media (max-width: 991px) {
		min-width: 880px;
        width: 100%;
		scrollbar-height: thin;
	}
}