@import '../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;

//inventual header searchbar
@include inventualHeaderSearch;

//inventual header searchbar action
@include inventualHeaderSearchAction;
@include inventualCheckboxFieldStyle;
@include inventualMaterialBtn;

.inventual-supplierlist-table-checkbox,
.inventual-supplierlist-table-name,
.inventual-supplierlist-table-phone,
.inventual-supplierlist-table-email,
.inventual-supplierlist-table-group,
.inventual-supplierlist-table-point,
.inventual-supplierlist-table-address,
.inventual-supplierlist-table-action {
	@apply flex;
	@apply flex-col;
	@apply justify-center;
	& h5 {
		@apply text-[15px];
		@apply font-semibold;
		@apply text-black;
	}
	& span {
		@apply text-[14px];
		@apply font-normal;
		@apply text-gray;
	}
}
.inventual-supplierlist-table-checkbox {
	min-width: 60px;
	width: 4.2%;
    @media (max-width: 1600px) {
		min-width: 50px;
		width: 4.2%;
	}
}
.inventual-supplierlist-table-name {
	min-width: 220px;
	width: 15%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 190px;
		width: 16%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 145px;
		width: 15%;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 170px;
		width: 16%;
	}
    @media (max-width: 1200px) {
		min-width: 170px;
		width: 16%;
	}
}
.inventual-supplierlist-table-phone {
	min-width: 210px;
	width: 14.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 13.8%;
		min-width: 160px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 13.5%;
		min-width: 130px;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 15%;
		min-width: 160px;
	}
    @media (max-width: 1200px) {
		width: 15%;
		min-width: 160px;
	}
}
.inventual-supplierlist-table-email {
	min-width: 210px;
	width: 14.3%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 15.5%;
		min-width: 180px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 18.1%;
		min-width: 175px;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 17.1%;
		min-width: 185px;
	}
    @media (max-width: 1200px) {
		width: 17.1%;
		min-width: 185px;
	}
}
.inventual-supplierlist-table-group {
	min-width: 180px;
	width: 12.2%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 120px;
        width: 10.5%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 80px;
        width: 7.5%;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 90px;
		width: 7.5%;
	}
    @media (max-width: 1200px) {
		min-width: 90px;
		width: 90px;
	}
}
.inventual-supplierlist-table-point {
	min-width: 200px;
	width: 13.6%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 12%;
		min-width: 140px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 12%;
		min-width: 120px;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 12%;
		min-width: 125px;
	}
    @media (max-width: 1200px) {
		width: 12%;
		min-width: 125px;
	}
}
.inventual-supplierlist-table-address {
	min-width: 280px;
	width: 19%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 18%;
		min-width: 215px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 18%;
		min-width: 180px;
		@apply pe-2.5;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 18%;
		min-width: 200px;
	}
    @media (max-width: 1200px) {
		width: 18%;
		min-width: 200px;
	}
}

@include commonActionMenuStyle;

.inventual-supplierlist-table-inner {
	@media (max-width: 1199px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-supplierlist-table-inner-wrapper {
	@media (max-width: 1199px) {
		min-width: 1100px;
        width: 100%;
		scrollbar-height: thin;
	}
}