<mat-dialog-content>
    <span>Date</span>
    <button mat-menu-item>
        <span>Time</span>
    </button>


<div class="inventual-manageevent-table-area">
    <div class="inventual-manageevent-table-inner1">
        <div class="inventual-manageevent-table-inner-wrapper1 border border-solid border-gray-borderThree border-b-0 mb-7">
            <div>
                <div class="inventual-manageevent-table-list1 flex border-b border-solid border-gray-borderThree h-20">
                    <div class="inventual-manageevent-table-checkbox1">
                        <!-- <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
                             [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                             {{task.name}}
                             </mat-checkbox> -->
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <h5>ID</h5>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <h5>Name</h5>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <h5>Location</h5>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <h5>Date</h5>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <h5>Time</h5>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <h5>Invoice Num</h5>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <h5>Action</h5>
                    </div>
                </div>
            </div>
            <div *ngFor="let event of parsedEvents">
                <div class="inventual-manageevent-table-list1 flex border-b border-solid border-gray-borderThree h-20">
                    <div class="inventual-manageevent-table-checkbox1 default-light-theme">
                        <!-- <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheck1($event.checked)">
                                     <label for="mat-checkbox-2-input"></label>
                                 </mat-checkbox> -->
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <span>{{event.id}}</span>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <span>{{event.name}}</span>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <span>{{event.location}}</span>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <span>{{event.date}}</span>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <span>{{event.time}}</span>
                    </div>
                    <div class="inventual-manageevent-table-sl1">
                        <span>{{event.invoice_num}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</mat-dialog-content>