@import '../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;

// Select field style
@include inventualSelectFieldStyle;
//calender field style
@include inventualCalenderFieldStyle;
//inventual header searchbar
@include inventualHeaderSearch;
//inventual header searchbar action
@include inventualHeaderSearchAction;
@include inventualMaterialBtn;

.inventual-managesale-table-date,
.inventual-managesale-table-warehouse,
.inventual-managesale-table-name,
.inventual-managesale-table-pqty,
.inventual-managesale-table-pamount,
.inventual-managesale-table-sqty,
.inventual-managesale-table-samount,
.inventual-managesale-table-prqty,
.inventual-managesale-table-pramount,
.inventual-managesale-table-srqty,
.inventual-managesale-table-sramount {
	@apply flex;
	@apply flex-col;
	@apply justify-center;
	& h5 {
		@apply text-[15px];
		@apply font-semibold;
		@apply text-black;
	}
	& span {
		@apply text-[14px];
		@apply font-normal;
		@apply text-gray;
	}
}
.inventual-managesale-table-date {
	min-width: 170px;
	width: 12%;
    @apply ps-2.5;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 130px;
		width: 12%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 110px;
		width: 12%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 125px;
		width: 12%;
	}
	@media (max-width: 1200px) {
		min-width: 125px;
		width: 12%;
	}
}
.inventual-managesale-table-warehouse {
	min-width: 180px;
	width: 12%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 140px;
		width: 12%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 120px;
		width: 12%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 130px;
		width: 12%;
	}
	@media (max-width: 1200px) {
		min-width: 130px;
		width: 12%;
	}
}
.inventual-managesale-table-name {
	min-width: 190px;
	width: 13%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 150px;
		width: 13%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 110px;
		width: 11%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 140px;
		width: 13%;
	}
	@media (max-width: 1200px) {
		min-width: 140px;
		width: 13%;
	}
}
.inventual-managesale-table-pqty {
	min-width: 180px;
	width: 12.3%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 140px;
		width: 12.3%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 120px;
		width: 12.3%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 140px;
		width: 12.3%;
	}
	@media (max-width: 1200px) {
		min-width: 140px;
		width: 12.3%;
	}
}
.inventual-managesale-table-pamount {
	min-width: 220px;
	width: 15%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 160px;
		width: 14%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 125px;
		width: 15%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 135px;
		width: 12%;
	}
	@media (max-width: 1200px) {
		min-width: 135px;
		width: 12%;
	}
}
.inventual-managesale-table-sqty {
	min-width: 150px;
	width: 10%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 110px;
		width: 10%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 90px;
		width: 10%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 90px;
		width: 10%;
	}
	@media (max-width: 1200px) {
		min-width: 90px;
		width: 10%;
	}
}
.inventual-managesale-table-samount {
	min-width: 140px;
	width: 10%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 110px;
		width: 10%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 75px;
		width: 7.5%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 85px;
		width: 10%;
	}
	@media (max-width: 1200px) {
		min-width: 85px;
		width: 10%;
	}
}
.inventual-managesale-table-prqty {
	min-width: 110px;
	width: 7.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 7.5%;
		min-width: 75px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 7.5%;
		min-width: 75px;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		width: 7.5%;
		min-width: 75px;
	}
	@media (max-width: 1200px) {
		width: 7.5%;
		min-width: 75px;
	}
}

@include commonActionMenuStyle;

.inventual-managesale-table-checkbox {
	.mat-checkbox-layout {
		@apply ms-4;
	}
	.mat-checkbox-frame {
		border-color: #CBCED4 !important;
	}
	.mat-checkbox {
		@apply flex;
	}
}

.inventual-managesale-table-inner {
	@media (max-width: 1200px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-managesale-table-inner-wrapper {
	@media (max-width: 1200px) {
		width: 1090px;
		scrollbar-height: thin;
	}
}