<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-bar-responsive" (click)="myfunction()">
        <mat-icon>reorder</mat-icon>
      </div>
      <div class="inventual-menu-wrapper bg-white border-e border-b border-solid border-gray-border py-10 px-7 lg:px-5 lg:py-8">
        <app-menu></app-menu>
      </div>
      <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-area">
        <div class="inventual-header-wrapper custom-height-70 px-7 custom-height-70 bg-white border-b border-solid border-gray-border">
          <div class="grid grid-cols-12 items-center h-full">
            <div class="col-span-12">
              <app-header></app-header>
            </div>
          </div>
        </div>
      </div>
        <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
            <div class="inventual-breadcrumb-area-inner px-0.5">
                <h5 class="text-[20px] text-black font-bold mb-3">Add Brand</h5>
                <div class="inventual-breadcrumb-area-inner-wrap">
                    <span class="text-[14px] text-gray font-normal inline-block me-2">Product</span>
                    <span class="text-[14px] text-gray font-normal inline-block me-2">></span>
                    <span class="text-[14px] text-gray font-normal inline-block me-2">Add Brand</span>
                </div>
            </div>
        </div>
        <div class="inventual-content-area px-7">
           <div class="inventual-addbrand-area bg-white p-7 custom-shadow rounded-8 mb-5">
               <h4 class="text-[20px] font-bold text-black mb-9">Add Brand</h4>
               <div class="inventual-addbrand-upload-area flex items-center sm:block">
                 <div class="inventual-input-field-style relative me-7 mb-7 sm:me-0 sm:mb-5">
                   <div class="inventual-input-field-file-image">
                     <label for="fileUpload">Upload Image</label>
                     <input type="file" id="fileUpload">
                   </div>
                 </div>
                 <div class="inventual-select-field w-full mb-7">
                    <h5 class="text-[15px] text-black font-semibold mb-3">Create Brand</h5>
                    <div class="inventual-input-field-style">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden">HP</mat-label>
                            <input matInput [placeholder]="'HP'">
                        </mat-form-field>
                    </div>
                </div>
               </div>
                <div class="inventual-addbrand-table-area">
                    <div class="inventual-addbrand-table-inner">
                        <div class="inventual-addbrand-table-inner-wrapper border border-solid border-gray-borderThree border-b-0 mb-7">
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-12">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
                                    [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                                    {{task.name}}
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <h5>Image</h5>
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <h5>Brand Name</h5>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <h5>Action</h5>
                                </div>
                            </div>
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-20">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheck1($event.checked)">
                                        <label for="mat-checkbox-2-input"></label>
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <img src="../../../../assets/img/product/brand-2.png" alt="">
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <span>Dell</span>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="common-action-menu-style" aria-label="Example icon-button with a menu">
                                        Action <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-2.png" alt="icon not found">
                                            <span>Edit Brand</span>
                                        </button>
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-6.png" alt="icon not found">
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>                                      
                                </div>
                            </div>
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-20">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox [color]="'primary'" [checked]="allComplete" (change)="setSingleCheck3($event.checked)">
                                        <label for="mat-checkbox-4-input"></label>
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <img src="../../../../assets/img/product/brand-3.png" alt="">
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <span>Reative</span>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="common-action-menu-style" aria-label="Example icon-button with a menu">
                                        Action <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-2.png" alt="icon not found">
                                            <span>Edit Brand</span>
                                        </button>
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-6.png" alt="icon not found">
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>                                      
                                </div>
                            </div>
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-20">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox [checked]="allComplete" [color]="'primary'" (change)="setSingleCheck4($event.checked)">
                                        <label for="mat-checkbox-5-input"></label>
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <img src="../../../../assets/img/product/brand-4.png" alt="">
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <span>Autodesk</span>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="common-action-menu-style" aria-label="Example icon-button with a menu">
                                        Action <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-2.png" alt="icon not found">
                                            <span>Edit Brand</span>
                                        </button>
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-6.png" alt="icon not found">
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>                                      
                                </div>
                            </div>
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-20">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox [checked]="allComplete" [color]="'primary'" (change)="setSingleCheck5($event.checked)">
                                        <label for="mat-checkbox-6-input"></label>
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <img src="../../../../assets/img/product/brand-5.png" alt="">
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <span>Samsung</span>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="common-action-menu-style" aria-label="Example icon-button with a menu">
                                        Action <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-2.png" alt="icon not found">
                                            <span>Edit Brand</span>
                                        </button>
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-6.png" alt="icon not found">
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>                                      
                                </div>
                            </div>
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-20">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox [checked]="allComplete" [color]="'primary'" (change)="setSingleCheck6($event.checked)">
                                        <label for="mat-checkbox-7-input"></label>
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <img src="../../../../assets/img/product/brand-6.png" alt="">
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <span>Redmi</span>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="common-action-menu-style" aria-label="Example icon-button with a menu">
                                        Action <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-2.png" alt="icon not found">
                                            <span>Edit Brand</span>
                                        </button>
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-6.png" alt="icon not found">
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>                                      
                                </div>
                            </div>
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-20">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox [checked]="allComplete" [color]="'primary'" (change)="setSingleCheck7($event.checked)">
                                        <label for="mat-checkbox-8-input"></label>
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <img src="../../../../assets/img/product/brand-7.png" alt="">
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <span>Ayam Goreng</span>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="common-action-menu-style" aria-label="Example icon-button with a menu">
                                        Action <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-2.png" alt="icon not found">
                                            <span>Edit Brand</span>
                                        </button>
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-6.png" alt="icon not found">
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>                                      
                                </div>
                            </div>
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-20">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox [checked]="allComplete" [color]="'primary'" (change)="setSingleCheck8($event.checked)">
                                        <label for="mat-checkbox-9-input"></label>
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <img src="../../../../assets/img/product/brand-8.png" alt="">
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <span>Amazon</span>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="common-action-menu-style" aria-label="Example icon-button with a menu">
                                        Action <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-2.png" alt="icon not found">
                                            <span>Edit Brand</span>
                                        </button>
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-6.png" alt="icon not found">
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>                                      
                                </div>
                            </div>
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-20">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox [checked]="allComplete" [color]="'primary'" (change)="setSingleCheck9($event.checked)">
                                        <label for="mat-checkbox-10-input"></label>
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <img src="../../../../assets/img/product/brand-9.png" alt="">
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <span>Adidas</span>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="common-action-menu-style" aria-label="Example icon-button with a menu">
                                        Action <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-2.png" alt="icon not found">
                                            <span>Edit Brand</span>
                                        </button>
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-6.png" alt="icon not found">
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>                                      
                                </div>
                            </div>
                            <div class="inventual-addbrand-table-list flex border-b border-solid border-gray-borderThree h-20">
                                <div class="inventual-addbrand-table-checkbox default-light-theme">
                                    <mat-checkbox [checked]="allComplete" [color]="'primary'" (change)="setSingleCheck10($event.checked)">
                                        <label for="mat-checkbox-11-input"></label>
                                    </mat-checkbox>
                                </div>
                                <div class="inventual-addbrand-table-image">
                                    <img src="../../../../assets/img/product/brand-10.png" alt="">
                                </div>
                                <div class="inventual-addbrand-table-name">
                                    <span>Realme</span>
                                </div>
                                <div class="inventual-addbrand-table-action">
                                    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="common-action-menu-style" aria-label="Example icon-button with a menu">
                                        Action <mat-icon>arrow_drop_down</mat-icon>
                                    </button>
                                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-2.png" alt="icon not found">
                                            <span>Edit Brand</span>
                                        </button>
                                        <button mat-menu-item>
                                            <img src="../../../../../assets/img/icon/action-6.png" alt="icon not found">
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>                                      
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inventual-pagination-area">
                        <app-pagination></app-pagination>
                    </div>
                </div>
           </div>
        </div>
        <div class="inventual-copyright-area">
            <app-copyright></app-copyright>
        </div>
    </div>
</div>
