@import '../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;
@include inventualInputFieldStyle;
@include inventualCheckboxFieldStyle;
@include inventualMaterialBtn;

.inventual-managesale-table-checkbox,
.inventual-managesale-table-name,
.inventual-managesale-table-code,
.inventual-managesale-table-action {
	@apply flex;
	@apply flex-col;
	@apply justify-center;
	& h5 {
		@apply text-[15px];
		@apply font-semibold;
		@apply text-black;
	}
	& span {
		@apply text-[14px];
		@apply font-normal;
		@apply text-gray;
	}
}

.inventual-managesale-table-checkbox {
	min-width: 100px;
	width: 14%;
    @media (max-width: 1900px) {
		min-width: 70px;
		width: 12%;
	}
    @media (max-width: 1600px) {
		min-width: 50px;
		width: 12%;
	}
    @media (min-width: 768px) and (max-width: 991px) {
        min-width: 50px;
		width: 10%;
    }
}
.inventual-managesale-table-name {
	min-width: 180px;
	width: 25%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 120px;
		width: 21%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 110px;
		width: 23%;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 120px;
		width: 21%;
	}
    @media (min-width: 992px) and (max-width: 1200px) {
		min-width: 110px;
		width: 26%;
	}
    @media (max-width: 991px) {
		min-width: 135px;
		width: 20%;
	}
    @media (max-width: 767px) {
		min-width: 135px;
		width: 19%;
	}
}
.inventual-managesale-table-code {
	min-width: 340px;
	width: 47%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 285px;
		width: 49%;
		@apply pe-2.5;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 205px;
		width: 44%;
		@apply pe-2.5;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 205px;
		width: 47%;
		@apply pe-2.5;
	}
    @media (min-width: 992px) and (max-width: 1200px) {
		min-width: 155px;
		width: 40%;
		@apply pe-2.5;
	}
    @media (max-width: 991px) {
		min-width: 350px;
		width: 54%;
	}
    @media (max-width: 767px) {
		min-width: 340px;
		width: 52%;
	}
}

@include commonActionMenuStyle;

.inventual-managesale-table-inner {
	@media (max-width: 767px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-managesale-table-inner-wrapper {
	@media (max-width: 767px) {
		min-width: 100%;
        width: 655px;
		scrollbar-height: thin;
	}
}