@import '../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;

// Select field style
@include inventualSelectFieldStyle;
//calender field style
@include inventualCalenderFieldStyle;
//inventual header searchbar
@include inventualHeaderSearch;
//inventual header searchbar action
@include inventualHeaderSearchAction;
@include inventualMaterialBtn;

.inventual-managesale-table-date,
.inventual-managesale-table-warehouse,
.inventual-managesale-table-name,
.inventual-managesale-table-pqty,
.inventual-managesale-table-pamount,
.inventual-managesale-table-sqty,
.inventual-managesale-table-samount,
.inventual-managesale-table-prqty,
.inventual-managesale-table-pramount,
.inventual-managesale-table-srqty,
.inventual-managesale-table-sramount {
	@apply flex;
	@apply flex-col;
	@apply justify-center;
	& h5 {
		@apply text-[15px];
		@apply font-semibold;
		@apply text-black;
	}
	& span {
		@apply text-[14px];
		@apply font-normal;
		@apply text-gray;
	}
}
.inventual-managesale-table-date {
	min-width: 200px;
	width: 14%;
    @apply ps-5;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 160px;
		width: 14%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 140px;
		width: 14%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 175px;
		width: 17%;
	}
	@media (max-width: 1200px) {
		min-width: 145px;
		width: 16%;
	}
}
.inventual-managesale-table-warehouse {
	min-width: 300px;
	width: 20.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 180px;
		width: 15.5%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 170px;
		width: 18%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 190px;
		width: 18%;
	}
	@media (max-width: 1200px) {
		min-width: 150px;
		width: 16%;
	}
}
.inventual-managesale-table-name {
	min-width: 275px;
	width: 19%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 210px;
		width: 19%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 180px;
		width: 19%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 190px;
		width: 18%;
	}
	@media (max-width: 1200px) {
		min-width: 165px;
		width: 18%;
	}
}
.inventual-managesale-table-pqty {
	min-width: 280px;
	width: 20%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 200px;
		width: 20%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 160px;
		width: 17%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 170px;
		width: 16%;
	}
	@media (max-width: 1200px) {
		min-width: 140px;
		width: 16%;
	}
}
.inventual-managesale-table-pamount {
	min-width: 240px;
	width: 16.5%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 220px;
		width: 19.5%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 150px;
		width: 17%;
	}
	@media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 170px;
		width: 18%;
	}
	@media (max-width: 1200px) {
		min-width: 140px;
		width: 16%;
	}
}
@include commonActionMenuStyle;

.inventual-managesale-table-inner {
	@media (max-width: 991px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-managesale-table-inner-wrapper {
	@media (max-width: 991px) {
		width: 880px;
		min-width: 100%;
		scrollbar-height: thin;
	}
}