@import '../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;
@include inventualCheckboxFieldStyle;
@include inventualMaterialBtn;

//inventual header searchbar
@include inventualHeaderSearch;

//inventual header searchbar action
@include inventualHeaderSearchAction;

.inventual-managesale-table-checkbox,
.inventual-managesale-table-date,
.inventual-managesale-table-customer,
.inventual-managesale-table-total,
.inventual-managesale-table-paid,
.inventual-managesale-table-payment,
.inventual-managesale-table-address,
.inventual-managesale-table-action {
	@apply flex;
	@apply flex-col;
	@apply justify-center;
	& h5 {
		@apply text-[15px];
		@apply font-semibold;
		@apply text-black;
	}
	& span {
		@apply text-[14px];
		@apply font-normal;
		@apply text-gray;
	}
}
.inventual-managesale-table-checkbox {
	min-width: 60px;
	width: 4.2%;
    @media (max-width: 1600px) {
		min-width: 50px;
		width: 4.2%;
	}
}
.inventual-managesale-table-date {
	min-width: 100px;
	width: 7%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 100px;
        width: 8.6%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 60px;
        width: 6.5%;
	}
    @media (min-width: 992px) and (max-width: 1400px) {
		min-width: 60px;
		width: 6.5%;
	}
    @media (max-width: 991px) {
		min-width: 60px;
		width: 6.5%;
	}
}
.inventual-managesale-table-customer {
	min-width: 220px;
	width: 15%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		min-width: 200px;
		width: 17.2%;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		min-width: 155px;
		width: 16%;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		min-width: 170px;
		width: 16%;
	}
    @media (max-width: 1200px) {
		min-width: 170px;
		width: 16%;
	}
}
.inventual-managesale-table-total {
	min-width: 210px;
	width: 14.2%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 14%;
		min-width: 160px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 16.5%;
		min-width: 160px;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 15%;
		min-width: 160px;
	}
    @media (max-width: 1200px) {
		width: 15%;
		min-width: 160px;
	}
}
.inventual-managesale-table-paid {
	min-width: 210px;
	width: 14.2%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 13%;
		min-width: 150px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 12.5%;
		min-width: 120px;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 13%;
		min-width: 140px;
	}
    @media (max-width: 1200px) {
		width: 13%;
		min-width: 140px;
	}
}
.inventual-managesale-table-payment {
	min-width: 280px;
	width: 19.1%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 16%;
		min-width: 180px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 20.5%;
		min-width: 200px;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 21.2%;
		min-width: 230px;
	}
    @media (max-width: 1200px) {
		width: 21.2%;
		min-width: 230px;
	}
}
.inventual-managesale-table-address {
	min-width: 280px;
	width: 19.1%;
	@media (min-width: 1601px) and (max-width: 1900px) {
		width: 17.5%;
		min-width: 190px;
	}
	@media (min-width: 1401px) and (max-width: 1600px) {
		width: 12.5%;
		min-width: 120px;
	}
    @media (min-width: 1201px) and (max-width: 1400px) {
		width: 14%;
		min-width: 150px;
	}
    @media (max-width: 1200px) {
		width: 14%;
		min-width: 130px;
	}
}

@include commonActionMenuStyle;

.inventual-managesale-table-inner {
	@media (max-width: 1199px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-managesale-table-inner-wrapper {
	@media (max-width: 1199px) {
		min-width: 100%;
        width: 1080px;
		scrollbar-height: thin;
	}
}