<div class="inventual-role-list border-b border-solid border-gray-borderThree flex items-center">
    <div class="inventual-role-left">
        <div class="inventual-role-topic">
            <h5 class="text-[18px] font-semibold text-black mb-4">People</h5>
            <div class="inventual-role-checkbox default-light-theme">
                <mat-checkbox class="example-margin" [checked]="allComplete"
                  [color]="task.color" [indeterminate]="someComplete()"
                  (change)="setAllAB($event.checked)">
                  {{task.name}}
                </mat-checkbox>
            </div>
        </div>
    </div>
    <div class="inventual-role-right w-full border-s border-solid border-gray-borderThree">
        <div class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-gray-borderThree">
            <div class="inventual-role-category">
                <h5>Customer</h5>
            </div>
            <div class="inventual-role-checkbox-wrapper">
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckA1($event.checked)">
                        <label for="mat-checkbox-90-input">Add</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckB1($event.checked)">
                        <label for="mat-checkbox-91-input">View</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckC1($event.checked)">
                        <label for="mat-checkbox-92-input">Edit</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckD1($event.checked)">
                        <label for="mat-checkbox-93-input">Delete</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-gray-borderThree">
            <div class="inventual-role-category">
                <h5>Customer Group</h5>
            </div>
            <div class="inventual-role-checkbox-wrapper">
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckE1($event.checked)">
                        <label for="mat-checkbox-94-input">Add</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckF1($event.checked)">
                        <label for="mat-checkbox-95-input">View</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckG1($event.checked)">
                        <label for="mat-checkbox-96-input">Edit</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckH1($event.checked)">
                        <label for="mat-checkbox-97-input">Delete</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-gray-borderThree">
            <div class="inventual-role-category">
                <h5>Supplier</h5>
            </div>
            <div class="inventual-role-checkbox-wrapper">
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckI1($event.checked)">
                        <label for="mat-checkbox-98-input">Add</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckJ1($event.checked)">
                        <label for="mat-checkbox-99-input">View</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckK1($event.checked)">
                        <label for="mat-checkbox-100-input">Edit</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckL1($event.checked)">
                        <label for="mat-checkbox-101-input">Delete</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="inventual-role-category-list custom-height-70 flex items-center border-b border-solid border-gray-borderThree">
            <div class="inventual-role-category">
                <h5>Biller</h5>
            </div>
            <div class="inventual-role-checkbox-wrapper">
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckM1($event.checked)">
                        <label for="mat-checkbox-102-input">Add</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckN1($event.checked)">
                        <label for="mat-checkbox-103-input">View</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckO1($event.checked)">
                        <label for="mat-checkbox-104-input">Edit</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckP1($event.checked)">
                        <label for="mat-checkbox-105-input">Delete</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="inventual-role-category-list custom-height-70 flex items-center">
            <div class="inventual-role-category">
                <h5>User</h5>
            </div>
            <div class="inventual-role-checkbox-wrapper">
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckQ1($event.checked)">
                        <label for="mat-checkbox-106-input">Add</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckR1($event.checked)">
                        <label for="mat-checkbox-107-input">View</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckS1($event.checked)">
                        <label for="mat-checkbox-108-input">Edit</label>
                    </mat-checkbox>
                </div>
                <div class="inventual-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckT1($event.checked)">
                        <label for="mat-checkbox-109-input">Delete</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>