@import '../../../../custom-palettes.scss';

.inventual-pagination {
    ul {
        @apply inline-flex;
        @apply border;
        @apply border-solid;
        @apply border-gray-borderSeven;
        li {
            a {
                @apply h-10;
                @apply w-10;
                @apply text-center;
                @apply text-[14px];
                @apply font-normal;
                @apply text-gray;
                @apply leading-10;
                @apply inline-block;
                @apply border-e;
                @apply border-solid;
                @apply border-gray-borderSeven;
                &.active {
                    @apply bg-blue;
                    @apply border-blue;
                    @apply text-white;
                }
            }
            &:last-child {
                a {
                    @apply border-e-0;
                }
            }
            .material-icons {
                @apply text-[15px];
                @apply leading-10;
            }
            .mat-icon {
				height: 32px !important;
				width: 32px !important;
			}
        }
    }
}
.inventual-pagination-sort {
    @include inventualSelectFieldStyle;
    .mat-select-arrow-wrapper {
        transform: translateY(-1px);
    }
    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding-top: 11px;
    }
}
.inventual-pagination-sort .inventual-select-field-style .mat-form-field-flex {
    @apply bg-white;
    @apply h-10;
    @apply px-3;
}