<div class="inventual-pagination-wrapper">
    <div class="grid grid-cols-12">
        <div class="col-span-9 md:col-span-6 sm:col-span-12">
            <div class="inventual-pagination inventual-pagination-ltr ltr:block rtl:hidden text-end sm:text-center">
                <ul>
                    <li><a href="javascript:void(0)" (click)="changePage(currentPage - 1)"><mat-icon>arrow_back_ios</mat-icon></a></li>
                    <li *ngFor="let page of pages" [class.active]="currentPage === page"><a href="javascript:void(0)" (click)="changePage(page)">{{ page }}</a></li>
                    <li><a href="javascript:void(0)" (click)="changePage(currentPage + 1)"><mat-icon>arrow_forward_ios</mat-icon></a></li>
                </ul>
            </div>
            <div class="inventual-pagination inventual-pagination-rtl rtl:block ltr:hidden text-end sm:text-center">
                <ul>
                    <li><a href="javascript:void(0)" (click)="changePage(currentPage + 1)"><mat-icon>arrow_forward_ios</mat-icon></a></li>
                    <li *ngFor="let page of pages" [class.active]="currentPage === page"><a href="javascript:void(0)" (click)="changePage(page)">{{ page }}</a></li>
                    <li><a href="javascript:void(0)" (click)="changePage(currentPage - 1)"><mat-icon>arrow_back_ios</mat-icon></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
