@import '../../../../../custom-palettes.scss';

//sidebar menu style
@include inventualSidebarMuneStyle;

// Select field style
@include inventualSelectFieldStyle;

// Input field style
@include inventualInputFieldStyle;
@include inventualMaterialBtn;

.inventual-possale-product-list {
    @apply flex;
}
.inventual-possale-product-Products,
.inventual-possale-product-batch,
.inventual-possale-product-price,
.inventual-possale-product-qty,
.inventual-possale-product-total,
.inventual-possale-product-action {
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply h-full;
    @apply ps-5;
    @apply pe-1;
}
.custom-height-70 {
    height: 70px;
    min-height: 70px;
}
.inventual-possale-product-Products {
    width: 24%;
    min-width: 200px;
}
.inventual-possale-product-batch {
    width: 19%;
    min-width: 160px;
}
.inventual-possale-product-price {
    width: 14%;
    min-width: 115px;
}
.inventual-possale-product-qty {
    width: 18%;
    min-width: 150px;
}
.inventual-possale-product-total {
    width: 15%;
    min-width: 120px;
}
.inventual-possale-product-action {
    @include productDeleteBtn;
}
.inventual-possale-product-qty {
    @include productCounter;
}
.inventual-possale-product-area {
    height: 350px;
    overflow-y: auto;
}
.inventual-possale-total-field {
    @apply relative;
    & input {
        @apply m-0;
        @apply h-10;
        @apply leading-[38px];
        @apply border;
        @apply border-e-0;
        @apply border-solid;
        @apply border-gray-borderThree;
        @apply px-4;
        @apply outline-none;
        @apply block;
        @apply text-[14px];
        @apply text-gray;
        @apply font-primary;
        @apply font-semibold;
        width: 180px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        @apply pe-11;
        &::-moz-placeholder,
        &::placeholder {
            @apply text-gray;
            @apply text-[16px];
            @apply opacity-100;
            @apply font-primary;
            @apply font-semibold;
        }
    }
    & button {
        @apply h-10;
        @apply w-10;
        @apply text-center;
        @apply leading-[38px];
        @apply border;
        @apply border-solid;
        @apply border-gray-borderThree;
        @apply outline-none;
        @apply inline-block;
        @apply text-[16px];
        @apply text-gray;
        @apply font-semibold;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        @apply absolute;
        @apply end-0;
        @apply bottom-0;
        transition: all linear 0.3s;
        &:hover {
            border-color: #C1D5FE;
            @apply text-blue;
        }
    }
}
.inventual-possale-total-price {
	width: 100px;
}
.inventual-possale-total-item {
	width: 70px;
}
.inventual-select-field {
    & .plus-btn {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
//tab css start here
.inventual-possale-tab-menu {
    .mat-mdc-tab-labels {
        @apply border-none;
        .mat-mdc-tab {
                @apply h-12;
                @apply px-6;
                @apply opacity-100;
                min-width: 30%;
                @apply text-center;
                @apply inline-flex;
                @apply justify-center;
                @apply items-center;
                white-space: nowrap;
                @apply relative;
                @apply bg-green;
                margin-inline-end: 30px;
                @apply text-white;
                @apply rounded-[5px];
                @media (max-width: 576px) {
                    @apply w-full;
                    @apply me-0;
                    @apply mb-2.5;
                }
                &:first-child {
                    @apply bg-blue text-white;
                }
                &:last-child {
                    @apply me-0;
                    @apply bg-orange text-white;
                }
                .mdc-tab__text-label {
                    @apply text-white text-[16px] font-semibold font-primary;
                }
                &.mdc-tab--active {
                    .mdc-tab__text-label {
                        @apply text-white;
                    }
                }
        }
    }
    .mdc-tab-indicator__content--underline {
        @apply hidden;
    }
	.mat-mdc-tab-ripple {
		@apply hidden;
	}
	.mdc-tab {
		@apply py-4 px-11 min-w-0 justify-start;
	}
	.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
		flex-grow: initial;
	}
	.mat-mdc-tab-labels {
		@apply font-primary;
	}
	.mat-mdc-tab {
		font-family: "Nunito Sans", sans-serif !important;
        @apply sm:flex-initial;
	}
	.mat-mdc-tab:not(.mdc-tab--stacked) {
		height: initial;
	}
	.mat-mdc-tab-list {
		@apply mb-5;
	}
	.mat-mdc-tab-body-content {
		@apply overflow-hidden;
	}
    .mat-mdc-tab.mdc-tab--active .mdc-tab__ripple::before {
        @apply bg-primary;
    }
    .mat-mdc-tab-labels {
        @apply sm:gap-2.5;
    }
    .mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-header-pagination {
		@apply xxxl:hidden xxl:hidden;
	}
}
.inventual-possale-area,
.inventual-possale-tab-area {
    box-shadow: 0px 20px 40px rgba(18,42,91,0.05);
    @apply min-h-full;
}
.inventual-possale-tab-product-text {
    h5 {
        @apply text-[15px];
        @apply font-bold;
        @apply text-black;
        @apply mb-2;
    }
    span {
        @apply text-[14px];
        @apply font-normal;
        @apply text-gray;
        @apply inline-block;
    }
}
.inventual-possale-tab-product-img {
    height: 130px;
    @apply flex-col;
    @apply flex;
    @apply justify-center;
    @apply items-center;
}
.inventual-possale-tab-product {
    @apply border;
    @apply border-solid;
    @apply border-gray-borderThree;
    @apply pb-4;
    @apply px-2;
    min-height: calc(100% - 10px);
    @apply rounded-[5px];
    transition: all linear 0.3s;
    &:hover {
        @apply border-gray-borderFive;
    }
}
.inventual-possale-tab-menu-pagination {
    & a {
        @apply mx-2.5;
        @apply inline-block;
        transition: all linear 0.3s;
        & .material-icons {
            @apply text-[18px];
            transform: translateX(-1px);
            @apply leading-[33px];
            [dir="rtl"] {
                transform: translateX(1px);
            }
        }
        &:hover {
            @apply bg-blue;
            @apply text-white;
        }
    }
}


.inventual-possale-product-area {
    @media (min-width: 1601px) and (max-width: 1900px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.inventual-possale-product-wrapper {
    @media (min-width: 1601px) and (max-width: 1900px) {
		width: 825px;
        min-width: 100%;
		scrollbar-height: thin;
	}
    @media (min-width: 1201px) and (max-width: 1600px) {
		width: 825px;
        min-width: 100%;
		scrollbar-height: thin;
	}
    @media (max-width: 991px) {
		width: 825px;
        min-width: 100%;
		scrollbar-height: thin;
	}
}


.inventual-material-btn.pos {
    .mat-mdc-raised-button.mat-mdc-button-base {
        height: auto;
        width: 100%;
    }
    .mdc-button {
        @apply xl:px-0 md:px-0;
    }
}

  