<div class="inventual-dashboard-user-wrapper p-7 bg-white rounded-8 mb-5">
    <div class="inventual-dashboard-user mb-6 m-0.5">
        <h5 class="text-[18px] text-black font-bold">User</h5>
    </div>
    <div class="inventual-dashboard-user">
        <div class="inventual-dashboard-user-list flex flex-wrap justify-between items-center mb-5">
            <div class="inventual-dashboard-user-list-left flex flex-wrap items-center">
                <div class="inventual-dashboard-user-list-left-img min-w-[60px] me-4">
                    <a [routerLink]="['/userlist']"><img src="../../../../assets/img/user/user-1.png" alt="user not found"></a>
                </div>
                <div class="inventual-dashboard-user-list-left-text">
                    <h5 class="text-[16px] text-black font-semibold mb-1"><a [routerLink]="['/userlist']">John David</a></h5>
                    <span class="text-[14px] text-gray font-normal block mb-1">Manager</span>
                    <span class="text-[12px] text-blue font-normal block">Sign in - 09:30</span>
                </div>
            </div>
            <div class="inventual-dashboard-user-list-right">
                <span class="h-5 px-1.5 border border-solid border-green-lightTwo text-[12px] leading-[18px] text-green-lightTwo inline-block">Online</span>
            </div>
        </div>
        <div class="inventual-dashboard-user-list flex flex-wrap justify-between items-center mb-5">
            <div class="inventual-dashboard-user-list-left flex flex-wrap items-center">
                <div class="inventual-dashboard-user-list-left-img min-w-[60px] me-4">
                    <a [routerLink]="['/userlist']"><img src="../../../../assets/img/user/user-2.png" alt="user not found"></a>
                </div>
                <div class="inventual-dashboard-user-list-left-text">
                    <h5 class="text-[16px] text-black font-semibold mb-1"><a [routerLink]="['/userlist']">Killiyan Ampa</a></h5>
                    <span class="text-[14px] text-gray font-normal block mb-1">Manager</span>
                    <span class="text-[12px] text-blue font-normal block">Sign in - 09:25</span>
                </div>
            </div>
            <div class="inventual-dashboard-user-list-right">
                <span class="h-5 px-1.5 border border-solid border-green-lightTwo text-[12px] leading-[18px] text-green-lightTwo inline-block">Online</span>
            </div>
        </div>
        <div class="inventual-dashboard-user-list flex flex-wrap justify-between items-center mb-5">
            <div class="inventual-dashboard-user-list-left flex flex-wrap items-center">
                <div class="inventual-dashboard-user-list-left-img min-w-[60px] me-4">
                    <a [routerLink]="['/userlist']"><img src="../../../../assets/img/user/user-3.png" alt="user not found"></a>
                </div>
                <div class="inventual-dashboard-user-list-left-text">
                    <h5 class="text-[16px] text-black font-semibold mb-1"><a [routerLink]="['/userlist']">Brandon Tylors</a></h5>
                    <span class="text-[14px] text-gray font-normal block mb-1">Manager</span>
                    <span class="text-[12px] text-blue font-normal block">Sign in - 09:20</span>
                </div>
            </div>
            <div class="inventual-dashboard-user-list-right">
                <span class="h-5 px-1.5 border border-solid border-green-lightTwo text-[12px] leading-[18px] text-green-lightTwo inline-block">Online</span>
            </div>
        </div>
        <div class="inventual-dashboard-user-list flex flex-wrap justify-between items-center mb-5">
            <div class="inventual-dashboard-user-list-left flex flex-wrap items-center">
                <div class="inventual-dashboard-user-list-left-img min-w-[60px] me-4">
                    <a [routerLink]="['/userlist']"><img src="../../../../assets/img/user/user-4.png" alt="user not found"></a>
                </div>
                <div class="inventual-dashboard-user-list-left-text">
                    <h5 class="text-[16px] text-black font-semibold mb-1"><a [routerLink]="['/userlist']">William John</a></h5>
                    <span class="text-[14px] text-gray font-normal block mb-1">Manager</span>
                    <span class="text-[12px] text-blue font-normal block">Sign in - 09:29</span>
                </div>
            </div>
            <div class="inventual-dashboard-user-list-right">
                <span class="h-5 px-1.5 border border-solid border-warn text-[12px] leading-[18px] text-warn inline-block">Offline</span>
            </div>
        </div>
        <div class="inventual-dashboard-user-list flex flex-wrap justify-between items-center">
            <div class="inventual-dashboard-user-list-left flex flex-wrap items-center">
                <div class="inventual-dashboard-user-list-left-img min-w-[60px] me-4">
                    <a [routerLink]="['/userlist']"><img src="../../../../assets/img/user/user-5.png" alt="user not found"></a>
                </div>
                <div class="inventual-dashboard-user-list-left-text">
                    <h5 class="text-[16px] text-black font-semibold mb-1"><a [routerLink]="['/userlist']">Mendela Peter</a></h5>
                    <span class="text-[14px] text-gray font-normal block mb-1">Manager</span>
                    <span class="text-[12px] text-blue font-normal block">Sign in - 09:22</span>
                </div>
            </div>
            <div class="inventual-dashboard-user-list-right">
                <span class="h-5 px-1.5 border border-solid border-green-lightTwo text-[12px] leading-[18px] text-green-lightTwo inline-block">Online</span>
            </div>
        </div>
    </div>
</div>